@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
.judul {
    font-family: "Comfortaa", sans-serif;
    margin-left: 100px;
    margin-top: 5px;
    display: inline;
    color: rgb(132, 50, 50);
    font-size: 40px;
    padding: 5px
  }
  body {
    margin: auto;
    background-color: blanchedalmond;
  }
  header {
    margin-left: 80px;
    margin-top: 2%;
    font-family: "Comfortaa", sans-serif;
    padding: 20px;
    display: flex;
  }
  .head {
    display: inline;
    border: 3px solid black;
    padding: 20px;
    padding-right: 77%;
  }
  a {
    border-right: 3px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }
  .categories{
    text-align: center;
  margin-top: 130px;
  font-size: 34px;
  src: url(image/Vogue.ttf);
  font-family: Vogue;
  color: rgb(109, 77, 35);
  }
  .img1 {
    width: 1095px;
    height: auto;
    margin-left: 100px;
    margin-top: 5%;
    margin-right: 100px;
    display: flex;
  }

  